<h1>Add a picture</h1>
<form action="/pictures" method="POST">
	<p>
		<label>Artist</label><br>
		<input type="text" name="artist"/>
	</p>
	<p>
		<label>Title</label><br>
		<input type="text" name="title"/>
	</p>
	<p>
		<label>URL</label><br>
		<input type="text" name="url"/>
	</p>
	<p>
		<input type="submit"/>
	</p>
</form>